name: Deploy Image to Docker Hub and run tests

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: hub.docker.com
  IMAGE_NAME: ${{ secrets.DOCKER_HUB_USERNAME }}/ci-services-reproducer

jobs:
      push-dockerized-react-image:
        runs-on: ubuntu-latest
        outputs: 
          image_name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        permissions:
          contents: read
          packages: write
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Docker meta
            id: meta
            uses: docker/metadata-action@v4
            with:
              images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

          - name: 'Login to Docker Container Registry'
            uses: docker/login-action@v1
            with:
              username: ${{secrets.DOCKER_HUB_USERNAME}}
              password: ${{secrets.DOCKER_HUB_PAT}}

          - name: Build React Image
            run: |
              docker build . --tag ${{ env.IMAGE_NAME }}:master

          - name: Push React Image
            run: |
              docker push ${{ env.IMAGE_NAME }}:master

      run-cypress:
        needs: ['push-dockerized-react-image']
        runs-on: ubuntu-latest
        permissions:
          contents: read
        container: cypress/browsers:node16.14.0-chrome99-ff97
        services:
          react-app: 
            # Apparently global env variables don't work across jobs in github actions
            image: needs.push-dockerized-react-image.outputs.image_name
            credentials:
              username: $${{secrets.DOCKER_HUB_USERNAME}}
              password: ${{secrets.DOCKER_HUB_PAT}}
            ports:
              - 3000:3000
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Run Cypress Tests
            uses: cypress-io/github-action@v5.2.0
            with:
              browser: chrome
              install: true
              wait-on: 'http://localhost:3000'
              wait-on-timeout: 120
