name: Deploy Image to Docker Hub and run tests

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: hub.docker.com
  IMAGE_NAME: ${{ secrets.DOCKER_HUB_USERNAME }}/ci-services-reproducer

jobs:
      # Doesn't work, need to build and push locally. 
      # ERROR: error parsing HTTP 404 response body: invalid character '<' looking for beginning of value:
      # https://github.com/Joelasaur/ci-services-reproducer/actions/runs/4440873200/jobs/7795336850
      # push-dockerized-react-image:
      #   runs-on: ubuntu-latest
      #   outputs: 
      #     image_name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      #   steps:
      #     - name: 'Checkout GitHub Action'
      #       uses: actions/checkout@master

      #     - name: 'Login to Docker Container Registry'
      #       uses: docker/login-action@v1
      #       with:
      #         username: ${{secrets.DOCKER_HUB_USERNAME}}
      #         password: ${{secrets.DOCKER_HUB_PAT}}

      #     - name: Build React Image
      #       run: |
      #         docker build . --tag ${{ env.IMAGE_NAME }}:master

      #     - name: Push React Image
      #       run: |
      #         docker push ${{ env.IMAGE_NAME }}:master

      run-cypress:
        runs-on: ubuntu-latest
        permissions:
          contents: read
        # container: cypress/browsers:node16.14.0-chrome99-ff97
        services:
          react-app: 
            # Apparently global env variables don't work across jobs in github actions
            image: docker.io/joelasaur1/ci-services-reproducer:local
            credentials:
              username: ${{secrets.DOCKER_HUB_USERNAME}}
              password: ${{secrets.DOCKER_HUB_PAT}}
            ports:
              - 3000:3000
        steps:
          - name: Check running website
            run: sleep 20 && curl http://localhost:3000
          
          - name: Change cache permissions 
            run: chown -R 1001:1001 /github/home/.cache && echo "Changing cachce permissions"

          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Run Cypress Tests
            uses: cypress-io/github-action@v5.2.0
            with:
              browser: chrome
              install: true
              wait-on: 'http://localhost:3000'
              wait-on-timeout: 120
