name: Deploy Image to GHCR and run tests

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
      does-image-exist: 
        runs-on: ubuntu-latest
        outputs:
          image_name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        steps:
          - name: Check registry for existing image
            id: image-exists
            # Make username lowercase and echo the status of the inspect command to github output
            # 0 exit code means the image exists, 1 means it does not. 
            run: |
              docker manifest inspect (echo ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} | tr '[:upper:]' '[:lower:]')
              echo $? >> $GITHUB_OUTPUT

      push-dockerized-react-image:
        needs: ['does-image-exist']
        runs-on: ubuntu-latest
        if: ${{ !needs.does-image-exist.outputs.image-exists }}
        permissions:
          contents: read
          packages: write
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Docker meta
            id: meta
            uses: docker/metadata-action@v4
            with:
              images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          - name: 'Build and Push React Image'
            uses: docker/build-push-action@v4
            with:
              context: .
              push: true
              tags: ${{ steps.meta.outputs.tags }}
              labels: ${{ steps.meta.outputs.labels }}

      run-cypress:
        needs: ['push-dockerized-react-image', 'does-image-exist']
        runs-on: ubuntu-latest
        permissions:
          contents: read
        container: cypress/browsers:node16.14.0-chrome99-ff97
        services:
          react-app: 
            # Apparently global env variables don't work across jobs in github actions
            image: needs.does-image-exist.outputs.image_name
            credentials:
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}
            ports:
              - 3000:3000
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Run Cypress Tests
            uses: cypress-io/github-action@v5.2.0
            with:
              browser: chrome
              install: true
              wait-on: 'http://localhost:3000'
              wait-on-timeout: 120
