name: Deploy Image to GHCR and run tests

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
      push-dockerized-react-image:
        runs-on: ubuntu-latest
        outputs:
          image_name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        permissions:
          contents: read
          packages: write
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Docker meta
            id: meta
            uses: docker/metadata-action@v4
            with:
              images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          - name: 'Build and Push React Image'
            uses: docker/build-push-action@v4
            with:
              context: .
              push: true
              tags: ${{ steps.meta.outputs.tags }}
              labels: ${{ steps.meta.outputs.labels }}

      run-cypress:
        needs: ['push-dockerized-react-image']
        runs-on: ubuntu-latest
        permissions:
          contents: read
        container: cypress/browsers:node16.14.0-chrome99-ff97
        services:
          react-app: 
            # Apparently global env variables don't work across jobs in github actions
            image: needs.push-dockerized-react-image.outputs.image_name
            credentials:
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}
            ports:
              - 3000:3000
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@master

          - name: Run Cypress Tests
            uses: cypress-io/github-action@v5.2.0
            with:
              browser: chrome
              install: true
              wait-on: 'http://localhost:3000'
              wait-on-timeout: 120
